.logo-2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $primary-white-color;

  &:hover,
  &:focus {
    background-color: $footer-background-color;
    color: $accent-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $primary-title-color;
  margin-right: 85px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: $primary-white-color;
    color: $accent-color;
  }
}

.web {
  color: #2196f3;
}
