.main-info {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-title-color;
  width: 1200px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}
